body {
    margin: 0 auto;
    background-color: #fff;
    width: 1440px;
}
.top-container{
   background-color: yellowgreen; 
   height: 102px;
    text-decoration: none;
}
.topButtons{
    padding-left: 500px;
    font-family: 'Roboto', sa;
    font-weight: 400;
    font-size: 12px;
}
.main-btn{
    padding-top: 44.69px;
    padding-left: 549px;
    padding-right: 823px;
}
.top-btn{
    border: none;
    display: inline-block;
    padding-left: 50px;
    height: 11px;
}
.logo{
    padding-top: 29.14px;
    padding-left: 135px;
    padding-right: 1235px;
    width: 70px;
    height: 43.71px;
}
nav{
    float: left;
}
nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 45px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}